/*****************************LAYOUT*******************************/

.contain {
  object-fit: contain;
}

.fit {
  object-fit: fill;
}

.cover {
  object-fit: cover;
}

.inline-block {
  display: inline-block;
}

.z-9 {
  z-index: 9;
}

.z-99 {
  z-index: 99;
}

.z-999 {
  z-index: 999;
}

.z-9999 {
  z-index: 9999;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.inset-0 {
  inset: 0;
}

.top-0 {
  top: 0;
}

.top-1 {
  top: 1rem;
}

.top--05 {
  top: -0.5rem;
}

.top-7 {
  top: 7rem;
}

.bottom-4 {
  bottom: 4rem;
}

.right-0 {
  right: 0;
}

.right-1 {
  right: 1rem;
}

.right-1 {
  right: 1rem;
}

.right-2 {
  right: 2rem;
}

.right-4 {
  right: 4rem;
}

.top-25-per {
  top: 25%;
}

.top-50-per {
  top: 50%;
}

.left-50-per {
  left: 50%;
}

.left-0 {
  left: 0;
}

.left-1 {
  left: 1rem;
}

.right--25-per {
  right: -25%;
}
